@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-Thin.woff2') format('woff2'),
        url('web/Fraternidad-Thin.woff') format('woff'),
        url('ttf/Fraternidad-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-ThinItalic.woff2') format('woff2'),
        url('web/Fraternidad-ThinItalic.woff') format('woff'),
        url('ttf/Fraternidad-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-ExtraLight.woff2') format('woff2'),
        url('web/Fraternidad-ExtraLight.woff') format('woff'),
        url('ttf/Fraternidad-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-ExtraLightItalic.woff2') format('woff2'),
        url('web/Fraternidad-ExtraLightItalic.woff') format('woff'),
        url('ttf/Fraternidad-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-Light.woff2') format('woff2'),
        url('web/Fraternidad-Light.woff') format('woff'),
        url('ttf/Fraternidad-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-LightItalic.woff2') format('woff2'),
        url('web/Fraternidad-LightItalic.woff') format('woff'),
        url('ttf/Fraternidad-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-Regular.woff2') format('woff2'),
        url('web/Fraternidad-Regular.woff') format('woff'),
        url('ttf/Fraternidad-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-Italic.woff2') format('woff2'),
        url('web/Fraternidad-Italic.woff') format('woff'),
        url('ttf/Fraternidad-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-Medium.woff2') format('woff2'),
        url('web/Fraternidad-Medium.woff') format('woff'),
        url('ttf/Fraternidad-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-MediumItalic.woff2') format('woff2'),
        url('web/Fraternidad-MediumItalic.woff') format('woff'),
        url('ttf/Fraternidad-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-SemiBold.woff2') format('woff2'),
        url('web/Fraternidad-SemiBold.woff') format('woff'),
        url('ttf/Fraternidad-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-SemiBoldItalic.woff2') format('woff2'),
        url('web/Fraternidad-SemiBoldItalic.woff') format('woff'),
        url('ttf/Fraternidad-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-Bold.woff2') format('woff2'),
        url('web/Fraternidad-Bold.woff') format('woff'),
        url('ttf/Fraternidad-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-BoldItalic.woff2') format('woff2'),
        url('web/Fraternidad-BoldItalic.woff') format('woff'),
        url('ttf/Fraternidad-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-ExtraBold.woff2') format('woff2'),
        url('web/Fraternidad-ExtraBold.woff') format('woff'),
        url('ttf/Fraternidad-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraternidad';
    src: url('web/Fraternidad-ExtraBoldItalic.woff2') format('woff2'),
        url('web/Fraternidad-ExtraBoldItalic.woff') format('woff'),
        url('ttf/Fraternidad-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
