<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Becyr</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-74</integer>
  </dict>
  <key>Ercyr</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-74</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>q</key>
    <integer>-40</integer>
    <key>public.kern2.A2</key>
    <integer>-20</integer>
    <key>public.kern2.J2</key>
    <integer>-62</integer>
    <key>public.kern2.a2</key>
    <integer>-40</integer>
    <key>public.kern2.c2</key>
    <integer>-30</integer>
    <key>public.kern2.comma</key>
    <integer>-230</integer>
    <key>public.kern2.egrave</key>
    <integer>-40</integer>
    <key>public.kern2.xi</key>
    <integer>-40</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-100</integer>
    <key>public.kern2.J2</key>
    <integer>-62</integer>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.a2</key>
    <integer>-35</integer>
    <key>public.kern2.c2</key>
    <integer>-13</integer>
    <key>public.kern2.comma</key>
    <integer>-320</integer>
    <key>public.kern2.f2</key>
    <integer>80</integer>
    <key>public.kern2.parenright2</key>
    <integer>-120</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-60</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-74</integer>
  </dict>
  <key>arrowleft</key>
  <dict>
    <key>emdash</key>
    <integer>-240</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>lownumeralsign</key>
    <integer>-40</integer>
    <key>numeralsign</key>
    <integer>-40</integer>
    <key>quotedbl</key>
    <integer>-40</integer>
    <key>quotedblright</key>
    <integer>-40</integer>
    <key>quotesingle</key>
    <integer>-40</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-65</integer>
  </dict>
  <key>becyr</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>becyr.loclSRB</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>carriagereturn</key>
  <dict>
    <key>emdash</key>
    <integer>-240</integer>
  </dict>
  <key>colon</key>
  <dict>
    <key>slash</key>
    <integer>-160</integer>
  </dict>
  <key>colon.case</key>
  <dict>
    <key>slash</key>
    <integer>-160</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>one.ss01</key>
    <integer>-240</integer>
  </dict>
  <key>delta</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>endash</key>
  <dict>
    <key>one.ss01</key>
    <integer>-22</integer>
    <key>seven.ss01</key>
    <integer>-38</integer>
    <key>public.kern2.A2</key>
    <integer>22</integer>
  </dict>
  <key>epsilon</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ereversedcyr</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>five.ss01</key>
  <dict>
    <key>two.ss01</key>
    <integer>-54</integer>
  </dict>
  <key>four.ss01</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>hyphen</key>
  <dict>
    <key>four.ss01</key>
    <integer>-2</integer>
    <key>three.ss01</key>
    <integer>-80</integer>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.J2</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-160</integer>
    <key>public.kern2.V2</key>
    <integer>-90</integer>
    <key>public.kern2.X2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-160</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
  </dict>
  <key>lambda</key>
  <dict>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.tau</key>
    <integer>-80</integer>
  </dict>
  <key>nine.ss01</key>
  <dict>
    <key>seven.ss01</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-22</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>oacute</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>obarcyr</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocircumflex</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocircumflexacute</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocircumflexdotbelow</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocircumflexgrave</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocircumflexhoi</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocircumflextilde</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>odieresis</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>odotbelow</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ograve</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohoi</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohorn</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohornacute</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohorndotbelow</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohorngrave</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohornhoi</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohorntilde</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ohungarumlaut</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>omacron</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>omega</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>omegatonos</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>omicron</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>omicrontonos</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>one.ss01</key>
  <dict>
    <key>emdash</key>
    <integer>-15</integer>
    <key>public.kern2.comma</key>
    <integer>-80</integer>
  </dict>
  <key>oslash</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>otilde</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>one.ss01</key>
    <integer>-240</integer>
    <key>quotedblright</key>
    <integer>-194</integer>
  </dict>
  <key>phi</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.Y2</key>
    <integer>-80</integer>
  </dict>
  <key>quotedbl</key>
  <dict>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-420</integer>
    <key>public.kern2.eth2</key>
    <integer>-60</integer>
    <key>public.kern2.g2</key>
    <integer>-60</integer>
    <key>public.kern2.s2</key>
    <integer>-60</integer>
    <key>public.kern2.xi</key>
    <integer>-60</integer>
  </dict>
  <key>quotedblbase</key>
  <dict>
    <key>public.kern2.G2</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-160</integer>
    <key>public.kern2.V2</key>
    <integer>-160</integer>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.s2</key>
    <integer>-60</integer>
    <key>public.kern2.v2</key>
    <integer>-160</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-240</integer>
    <key>public.kern2.J2</key>
    <integer>-240</integer>
    <key>public.kern2.a2</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.eth2</key>
    <integer>-60</integer>
    <key>public.kern2.g2</key>
    <integer>-60</integer>
    <key>public.kern2.s2</key>
    <integer>-60</integer>
    <key>public.kern2.t2</key>
    <integer>60</integer>
    <key>public.kern2.xi</key>
    <integer>-60</integer>
  </dict>
  <key>quotedblright</key>
  <dict>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-240</integer>
    <key>public.kern2.J2</key>
    <integer>-200</integer>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.colon</key>
    <integer>-280</integer>
    <key>public.kern2.comma</key>
    <integer>-360</integer>
    <key>public.kern2.eth2</key>
    <integer>-60</integer>
    <key>public.kern2.f2</key>
    <integer>-60</integer>
    <key>public.kern2.g2</key>
    <integer>-80</integer>
    <key>public.kern2.s2</key>
    <integer>-60</integer>
    <key>public.kern2.xi</key>
    <integer>-60</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.xi</key>
    <integer>-80</integer>
  </dict>
  <key>rho</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>ruble</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-74</integer>
  </dict>
  <key>schwa</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>seven.ss01</key>
  <dict>
    <key>endash</key>
    <integer>-15</integer>
    <key>hyphen</key>
    <integer>-15</integer>
    <key>seven.ss01</key>
    <integer>30</integer>
    <key>public.kern2.A2</key>
    <integer>-80</integer>
    <key>public.kern2.comma</key>
    <integer>-76</integer>
  </dict>
  <key>sigma</key>
  <dict>
    <key>lambda</key>
    <integer>-30</integer>
    <key>public.kern2.tau</key>
    <integer>-40</integer>
  </dict>
  <key>six.ss01</key>
  <dict>
    <key>nine.ss01</key>
    <integer>-38</integer>
    <key>one.ss01</key>
    <integer>-30</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>slash</key>
    <integer>-280</integer>
    <key>public.kern2.a2</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-100</integer>
    <key>public.kern2.m2</key>
    <integer>-60</integer>
    <key>public.kern2.s2</key>
    <integer>-60</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
  </dict>
  <key>two.ss01</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
  </dict>
  <key>uhorn</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>74</integer>
    <key>public.kern2.f2</key>
    <integer>38</integer>
    <key>public.kern2.t2</key>
    <integer>50</integer>
  </dict>
  <key>uhornacute</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>74</integer>
    <key>public.kern2.f2</key>
    <integer>38</integer>
    <key>public.kern2.t2</key>
    <integer>50</integer>
  </dict>
  <key>uhorndotbelow</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>74</integer>
    <key>public.kern2.f2</key>
    <integer>38</integer>
    <key>public.kern2.t2</key>
    <integer>50</integer>
  </dict>
  <key>uhorngrave</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>74</integer>
    <key>public.kern2.f2</key>
    <integer>38</integer>
    <key>public.kern2.t2</key>
    <integer>50</integer>
  </dict>
  <key>uhornhoi</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>74</integer>
    <key>public.kern2.f2</key>
    <integer>38</integer>
    <key>public.kern2.t2</key>
    <integer>50</integer>
  </dict>
  <key>uhorntilde</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>74</integer>
    <key>public.kern2.f2</key>
    <integer>38</integer>
    <key>public.kern2.t2</key>
    <integer>50</integer>
  </dict>
  <key>xi</key>
  <dict>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.u</key>
    <integer>-60</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>zecyr.loclBGR</key>
  <dict>
    <key>quoteright</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>hyphen</key>
    <integer>-80</integer>
    <key>quotedbl</key>
    <integer>-200</integer>
    <key>quotedblleft</key>
    <integer>-240</integer>
    <key>quotedblright</key>
    <integer>-160</integer>
    <key>quoteright</key>
    <integer>-160</integer>
    <key>public.kern2.A2</key>
    <integer>67</integer>
    <key>public.kern2.C2</key>
    <integer>-40</integer>
    <key>public.kern2.G2</key>
    <integer>-40</integer>
    <key>public.kern2.S2</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.U2</key>
    <integer>-40</integer>
    <key>public.kern2.V2</key>
    <integer>-140</integer>
    <key>public.kern2.Y2</key>
    <integer>-120</integer>
    <key>public.kern2.f2</key>
    <integer>-50</integer>
    <key>public.kern2.t2</key>
    <integer>-40</integer>
    <key>public.kern2.uni0122</key>
    <integer>-40</integer>
    <key>public.kern2.uni0374</key>
    <integer>-200</integer>
    <key>public.kern2.v2</key>
    <integer>-80</integer>
    <key>public.kern2.y2</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.B</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.C</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.S2</key>
    <integer>60</integer>
    <key>public.kern2.V2</key>
    <integer>-40</integer>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
    <key>public.kern2.parenright2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>Z</key>
    <integer>-31</integer>
    <key>Zacute</key>
    <integer>-31</integer>
    <key>Zcaron</key>
    <integer>-31</integer>
    <key>Zdotaccent</key>
    <integer>-31</integer>
    <key>Zeta</key>
    <integer>-31</integer>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
    <key>public.kern2.parenright2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>public.kern2.C2</key>
    <integer>-50</integer>
    <key>public.kern2.G2</key>
    <integer>-60</integer>
    <key>public.kern2.S2</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.I</key>
  <dict>
    <key>public.kern2.Y2</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.Itilde</key>
  <dict>
    <key>public.kern2.Itilde2</key>
    <integer>166</integer>
  </dict>
  <key>public.kern1.J</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>Q</key>
    <integer>-60</integer>
    <key>hyphen</key>
    <integer>-100</integer>
    <key>q</key>
    <integer>-70</integer>
    <key>quotedblleft</key>
    <integer>-40</integer>
    <key>space_less_three_space.liga</key>
    <integer>-40</integer>
    <key>public.kern2.C2</key>
    <integer>-38</integer>
    <key>public.kern2.G2</key>
    <integer>-73</integer>
    <key>public.kern2.S2</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-80</integer>
    <key>public.kern2.egrave</key>
    <integer>-60</integer>
    <key>public.kern2.eth2</key>
    <integer>-70</integer>
    <key>public.kern2.g2</key>
    <integer>-60</integer>
    <key>public.kern2.s2</key>
    <integer>-40</integer>
    <key>public.kern2.space</key>
    <integer>-32</integer>
    <key>public.kern2.t2</key>
    <integer>-62</integer>
    <key>public.kern2.u</key>
    <integer>-70</integer>
    <key>public.kern2.uni0122</key>
    <integer>-38</integer>
    <key>public.kern2.xi</key>
    <integer>-70</integer>
    <key>public.kern2.y2</key>
    <integer>-90</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>hyphen</key>
    <integer>-160</integer>
    <key>quotedbl</key>
    <integer>-240</integer>
    <key>quotedblleft</key>
    <integer>-240</integer>
    <key>quotedblright</key>
    <integer>-240</integer>
    <key>space_less_three_space.liga</key>
    <integer>-100</integer>
    <key>public.kern2.G2</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-200</integer>
    <key>public.kern2.V2</key>
    <integer>-160</integer>
    <key>public.kern2.Y2</key>
    <integer>-200</integer>
    <key>public.kern2.f2</key>
    <integer>-40</integer>
    <key>public.kern2.parenright2</key>
    <integer>-60</integer>
    <key>public.kern2.space</key>
    <integer>-80</integer>
    <key>public.kern2.t2</key>
    <integer>-50</integer>
    <key>public.kern2.uni0374</key>
    <integer>-240</integer>
    <key>public.kern2.v2</key>
    <integer>-70</integer>
    <key>public.kern2.y2</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.O</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.X2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
    <key>public.kern2.parenright2</key>
    <integer>-120</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.C2</key>
    <integer>-38</integer>
    <key>public.kern2.Eng</key>
    <integer>60</integer>
    <key>public.kern2.Y2</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.S</key>
  <dict>
    <key>public.kern2.S2</key>
    <integer>30</integer>
    <key>public.kern2.V2</key>
    <integer>-40</integer>
    <key>public.kern2.X2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-50</integer>
    <key>public.kern2.parenright2</key>
    <integer>-120</integer>
    <key>public.kern2.y2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>Decyr.loclBGR</key>
    <integer>-160</integer>
    <key>colon</key>
    <integer>-200</integer>
    <key>colon.case</key>
    <integer>-200</integer>
    <key>hyphen</key>
    <integer>-200</integer>
    <key>q</key>
    <integer>-160</integer>
    <key>quotedblright</key>
    <integer>80</integer>
    <key>semicolon</key>
    <integer>-180</integer>
    <key>space_less_three_space.liga</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.J2</key>
    <integer>-160</integer>
    <key>public.kern2.T2</key>
    <integer>120</integer>
    <key>public.kern2.Y2</key>
    <integer>60</integer>
    <key>public.kern2.a2</key>
    <integer>-140</integer>
    <key>public.kern2.c2</key>
    <integer>-160</integer>
    <key>public.kern2.comma</key>
    <integer>-200</integer>
    <key>public.kern2.egrave</key>
    <integer>-140</integer>
    <key>public.kern2.epsilon</key>
    <integer>-160</integer>
    <key>public.kern2.eth2</key>
    <integer>-140</integer>
    <key>public.kern2.g2</key>
    <integer>-160</integer>
    <key>public.kern2.m2</key>
    <integer>-100</integer>
    <key>public.kern2.r2</key>
    <integer>-100</integer>
    <key>public.kern2.s2</key>
    <integer>-120</integer>
    <key>public.kern2.space</key>
    <integer>-48</integer>
    <key>public.kern2.tau</key>
    <integer>-60</integer>
    <key>public.kern2.thorn2</key>
    <integer>-100</integer>
    <key>public.kern2.u</key>
    <integer>-100</integer>
    <key>public.kern2.v2</key>
    <integer>-120</integer>
    <key>public.kern2.x2</key>
    <integer>-140</integer>
    <key>public.kern2.xi</key>
    <integer>-140</integer>
    <key>public.kern2.y2</key>
    <integer>-140</integer>
    <key>public.kern2.z2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-60</integer>
    <key>public.kern2.S2</key>
    <integer>-60</integer>
    <key>public.kern2.comma</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>hyphen</key>
    <integer>-90</integer>
    <key>q</key>
    <integer>-90</integer>
    <key>public.kern2.A2</key>
    <integer>-140</integer>
    <key>public.kern2.C2</key>
    <integer>-40</integer>
    <key>public.kern2.G2</key>
    <integer>-40</integer>
    <key>public.kern2.J2</key>
    <integer>-60</integer>
    <key>public.kern2.S2</key>
    <integer>-40</integer>
    <key>public.kern2.a2</key>
    <integer>-90</integer>
    <key>public.kern2.c2</key>
    <integer>-120</integer>
    <key>public.kern2.colon</key>
    <integer>-100</integer>
    <key>public.kern2.comma</key>
    <integer>-120</integer>
    <key>public.kern2.egrave</key>
    <integer>-90</integer>
    <key>public.kern2.g2</key>
    <integer>-90</integer>
    <key>public.kern2.i2</key>
    <integer>-40</integer>
    <key>public.kern2.m2</key>
    <integer>-60</integer>
    <key>public.kern2.s2</key>
    <integer>-60</integer>
    <key>public.kern2.thorn2</key>
    <integer>-60</integer>
    <key>public.kern2.u</key>
    <integer>-60</integer>
    <key>public.kern2.uni0122</key>
    <integer>-40</integer>
    <key>public.kern2.v2</key>
    <integer>-60</integer>
    <key>public.kern2.x2</key>
    <integer>-60</integer>
    <key>public.kern2.xi</key>
    <integer>-90</integer>
    <key>public.kern2.z2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.X</key>
  <dict>
    <key>hyphen</key>
    <integer>-60</integer>
    <key>slash</key>
    <integer>80</integer>
    <key>public.kern2.C2</key>
    <integer>-60</integer>
    <key>public.kern2.G2</key>
    <integer>-60</integer>
    <key>public.kern2.S2</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>80</integer>
    <key>public.kern2.c2</key>
    <integer>-40</integer>
    <key>public.kern2.uni0122</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>becyr</key>
    <integer>-50</integer>
    <key>becyr.loclSRB</key>
    <integer>-50</integer>
    <key>colon</key>
    <integer>-70</integer>
    <key>colon.case</key>
    <integer>-70</integer>
    <key>hyphen</key>
    <integer>-200</integer>
    <key>q</key>
    <integer>-160</integer>
    <key>semicolon</key>
    <integer>-160</integer>
    <key>space_less_three_space.liga</key>
    <integer>-80</integer>
    <key>public.kern2.A2</key>
    <integer>-140</integer>
    <key>public.kern2.C2</key>
    <integer>-80</integer>
    <key>public.kern2.G2</key>
    <integer>-80</integer>
    <key>public.kern2.I2</key>
    <integer>-62</integer>
    <key>public.kern2.J2</key>
    <integer>-160</integer>
    <key>public.kern2.S2</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>60</integer>
    <key>public.kern2.X2</key>
    <integer>-40</integer>
    <key>public.kern2.Y2</key>
    <integer>62</integer>
    <key>public.kern2.a2</key>
    <integer>-160</integer>
    <key>public.kern2.c2</key>
    <integer>-160</integer>
    <key>public.kern2.comma</key>
    <integer>-280</integer>
    <key>public.kern2.egrave</key>
    <integer>-160</integer>
    <key>public.kern2.g2</key>
    <integer>-160</integer>
    <key>public.kern2.m2</key>
    <integer>-100</integer>
    <key>public.kern2.r2</key>
    <integer>-80</integer>
    <key>public.kern2.s2</key>
    <integer>-160</integer>
    <key>public.kern2.space</key>
    <integer>-64</integer>
    <key>public.kern2.thorn2</key>
    <integer>-80</integer>
    <key>public.kern2.u</key>
    <integer>-80</integer>
    <key>public.kern2.uni0122</key>
    <integer>-80</integer>
    <key>public.kern2.v2</key>
    <integer>-70</integer>
    <key>public.kern2.x2</key>
    <integer>-60</integer>
    <key>public.kern2.xi</key>
    <integer>-160</integer>
    <key>public.kern2.y2</key>
    <integer>-70</integer>
    <key>public.kern2.z2</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.Z</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>80</integer>
    <key>public.kern2.v2</key>
    <integer>-120</integer>
  </dict>
  <key>public.kern1.a</key>
  <dict>
    <key>quotedbl</key>
    <integer>-40</integer>
    <key>quotedblleft</key>
    <integer>-60</integer>
    <key>quotedblright</key>
    <integer>-40</integer>
    <key>quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-120</integer>
    <key>public.kern2.parenright2</key>
    <integer>-40</integer>
    <key>public.kern2.uni0374</key>
    <integer>-40</integer>
    <key>public.kern2.v2</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.b</key>
  <dict>
    <key>Decyr.loclBGR</key>
    <integer>-40</integer>
    <key>lambda</key>
    <integer>-80</integer>
    <key>nine.ss01</key>
    <integer>-38</integer>
    <key>quotedbl</key>
    <integer>-60</integer>
    <key>quotedblleft</key>
    <integer>-60</integer>
    <key>quotedblright</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-6</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.X2</key>
    <integer>-40</integer>
    <key>public.kern2.Y2</key>
    <integer>-160</integer>
    <key>public.kern2.comma</key>
    <integer>-40</integer>
    <key>public.kern2.parenright2</key>
    <integer>-80</integer>
    <key>public.kern2.s2</key>
    <integer>-19</integer>
    <key>public.kern2.tau</key>
    <integer>-24</integer>
    <key>public.kern2.uni0374</key>
    <integer>-60</integer>
    <key>public.kern2.v2</key>
    <integer>-40</integer>
    <key>public.kern2.x2</key>
    <integer>-29</integer>
    <key>public.kern2.y2</key>
    <integer>-40</integer>
    <key>public.kern2.z2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.c</key>
  <dict>
    <key>quotedbl</key>
    <integer>-40</integer>
    <key>quotedblleft</key>
    <integer>-60</integer>
    <key>quotedblright</key>
    <integer>-40</integer>
    <key>quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-120</integer>
    <key>public.kern2.a2</key>
    <integer>-13</integer>
    <key>public.kern2.c2</key>
    <integer>-30</integer>
    <key>public.kern2.comma</key>
    <integer>-40</integer>
    <key>public.kern2.i2</key>
    <integer>-30</integer>
    <key>public.kern2.parenright2</key>
    <integer>-80</integer>
    <key>public.kern2.tau</key>
    <integer>-15</integer>
    <key>public.kern2.uni0374</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.dcaron</key>
  <dict>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-240</integer>
    <key>public.kern2.S2</key>
    <integer>-74</integer>
    <key>public.kern2.a2</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-158</integer>
    <key>public.kern2.eth2</key>
    <integer>-60</integer>
    <key>public.kern2.g2</key>
    <integer>-60</integer>
    <key>public.kern2.i2</key>
    <integer>60</integer>
    <key>public.kern2.s2</key>
    <integer>-160</integer>
    <key>public.kern2.uni0374</key>
    <integer>20</integer>
    <key>public.kern2.xi</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.e</key>
  <dict>
    <key>quotedblright</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-120</integer>
    <key>public.kern2.a2</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-40</integer>
    <key>public.kern2.m2</key>
    <integer>-30</integer>
    <key>public.kern2.parenleft2</key>
    <integer>-50</integer>
    <key>public.kern2.parenright2</key>
    <integer>-80</integer>
    <key>public.kern2.tau</key>
    <integer>-25</integer>
    <key>public.kern2.v2</key>
    <integer>-40</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.eth</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-40</integer>
    <key>public.kern2.I2</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.f</key>
  <dict>
    <key>quotedblleft</key>
    <integer>80</integer>
    <key>quotedblright</key>
    <integer>60</integer>
    <key>public.kern2.I2</key>
    <integer>62</integer>
    <key>public.kern2.T2</key>
    <integer>120</integer>
    <key>public.kern2.a2</key>
    <integer>-30</integer>
    <key>public.kern2.c2</key>
    <integer>-40</integer>
    <key>public.kern2.comma</key>
    <integer>-100</integer>
    <key>public.kern2.h2</key>
    <integer>62</integer>
    <key>public.kern2.i2</key>
    <integer>30</integer>
    <key>public.kern2.k2</key>
    <integer>62</integer>
    <key>public.kern2.lacute</key>
    <integer>20</integer>
    <key>public.kern2.uni0374</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.g</key>
  <dict>
    <key>quotedblleft</key>
    <integer>-100</integer>
    <key>public.kern2.T2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.h</key>
  <dict>
    <key>quotedbl</key>
    <integer>-40</integer>
    <key>quotedblleft</key>
    <integer>-60</integer>
    <key>quotedblright</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.parenright2</key>
    <integer>-40</integer>
    <key>public.kern2.uni0374</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.i</key>
  <dict>
    <key>public.kern2.uni0374</key>
    <integer>-86</integer>
  </dict>
  <key>public.kern1.iota</key>
  <dict>
    <key>public.kern2.c2</key>
    <integer>-60</integer>
    <key>public.kern2.f2</key>
    <integer>-60</integer>
    <key>public.kern2.tau</key>
    <integer>-105</integer>
    <key>public.kern2.v2</key>
    <integer>-105</integer>
  </dict>
  <key>public.kern1.itilde</key>
  <dict>
    <key>public.kern2.itilde2</key>
    <integer>148</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>hyphen</key>
    <integer>-60</integer>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-20</integer>
    <key>public.kern2.egrave</key>
    <integer>-40</integer>
    <key>public.kern2.s2</key>
    <integer>-20</integer>
    <key>public.kern2.xi</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>quotedbl</key>
    <integer>-40</integer>
    <key>quotedblleft</key>
    <integer>-40</integer>
    <key>quotedblright</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.Y2</key>
    <integer>-140</integer>
    <key>public.kern2.c2</key>
    <integer>-13</integer>
    <key>public.kern2.parenright2</key>
    <integer>-40</integer>
    <key>public.kern2.uni0374</key>
    <integer>-80</integer>
    <key>public.kern2.y2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.parenleft</key>
  <dict>
    <key>q</key>
    <integer>-80</integer>
    <key>seven.ss01</key>
    <integer>30</integer>
    <key>public.kern2.C2</key>
    <integer>-46</integer>
    <key>public.kern2.G2</key>
    <integer>-107</integer>
    <key>public.kern2.S2</key>
    <integer>-46</integer>
    <key>public.kern2.a2</key>
    <integer>-40</integer>
    <key>public.kern2.c2</key>
    <integer>-80</integer>
    <key>public.kern2.j</key>
    <integer>60</integer>
    <key>public.kern2.s2</key>
    <integer>-80</integer>
    <key>public.kern2.y2</key>
    <integer>-38</integer>
  </dict>
  <key>public.kern1.parenright</key>
  <dict>
    <key>public.kern2.v2</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>public.kern2.Y2</key>
    <integer>-40</integer>
    <key>public.kern2.a2</key>
    <integer>-31</integer>
    <key>public.kern2.c2</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-160</integer>
    <key>public.kern2.g2</key>
    <integer>-40</integer>
    <key>public.kern2.parenright2</key>
    <integer>-40</integer>
    <key>public.kern2.s2</key>
    <integer>-40</integer>
    <key>public.kern2.t2</key>
    <integer>46</integer>
    <key>public.kern2.y2</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.s</key>
  <dict>
    <key>quotedbl</key>
    <integer>-40</integer>
    <key>quotedblleft</key>
    <integer>-60</integer>
    <key>quotedblright</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-100</integer>
    <key>public.kern2.V2</key>
    <integer>-60</integer>
    <key>public.kern2.Y2</key>
    <integer>-120</integer>
    <key>public.kern2.parenright2</key>
    <integer>-30</integer>
    <key>public.kern2.uni0374</key>
    <integer>-40</integer>
    <key>public.kern2.v2</key>
    <integer>-40</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.t</key>
  <dict>
    <key>public.kern2.Y2</key>
    <integer>-40</integer>
    <key>public.kern2.c2</key>
    <integer>-49</integer>
    <key>public.kern2.y2</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.thorn</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.Y2</key>
    <integer>-120</integer>
    <key>public.kern2.lacute</key>
    <integer>-20</integer>
    <key>public.kern2.x2</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0409</key>
  <dict>
    <key>public.kern2.y2</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.v</key>
  <dict>
    <key>q</key>
    <integer>-40</integer>
    <key>rho</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.T2</key>
    <integer>-120</integer>
    <key>public.kern2.Y2</key>
    <integer>-70</integer>
    <key>public.kern2.a2</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-40</integer>
    <key>public.kern2.comma</key>
    <integer>-160</integer>
    <key>public.kern2.g2</key>
    <integer>-40</integer>
    <key>public.kern2.parenleft2</key>
    <integer>-80</integer>
    <key>public.kern2.parenright2</key>
    <integer>-40</integer>
    <key>public.kern2.s2</key>
    <integer>-40</integer>
    <key>public.kern2.y2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.x</key>
  <dict>
    <key>q</key>
    <integer>-40</integer>
    <key>public.kern2.T2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-60</integer>
    <key>public.kern2.a2</key>
    <integer>-40</integer>
    <key>public.kern2.c2</key>
    <integer>-40</integer>
    <key>public.kern2.egrave</key>
    <integer>-40</integer>
    <key>public.kern2.eth2</key>
    <integer>-40</integer>
    <key>public.kern2.g2</key>
    <integer>-40</integer>
    <key>public.kern2.v2</key>
    <integer>-20</integer>
    <key>public.kern2.xi</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.y</key>
  <dict>
    <key>Decyr.loclBGR</key>
    <integer>-60</integer>
    <key>quotedblright</key>
    <integer>60</integer>
    <key>public.kern2.A2</key>
    <integer>-38</integer>
    <key>public.kern2.T2</key>
    <integer>-80</integer>
    <key>public.kern2.Y2</key>
    <integer>-70</integer>
    <key>public.kern2.a2</key>
    <integer>-40</integer>
    <key>public.kern2.c2</key>
    <integer>-40</integer>
    <key>public.kern2.comma</key>
    <integer>-160</integer>
    <key>public.kern2.f2</key>
    <integer>80</integer>
    <key>public.kern2.g2</key>
    <integer>-33</integer>
    <key>public.kern2.t2</key>
    <integer>80</integer>
  </dict>
  <key>public.kern1.z</key>
  <dict>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.T2</key>
    <integer>-100</integer>
    <key>public.kern2.Y2</key>
    <integer>-70</integer>
    <key>public.kern2.a2</key>
    <integer>-60</integer>
    <key>public.kern2.c2</key>
    <integer>-80</integer>
    <key>public.kern2.egrave</key>
    <integer>-60</integer>
    <key>public.kern2.eth2</key>
    <integer>-60</integer>
    <key>public.kern2.xi</key>
    <integer>-60</integer>
    <key>public.kern2.y2</key>
    <integer>-27</integer>
  </dict>
</dict>
</plist>
